body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("https://images.alphacoders.com/252/thumb-1920-252231.jpg");
}
h1{
    color:salmon;

}
img{
    width: 400px;
}
#thirdDive{
    height: 600px;
    width: 400px;
    padding: 50px;
   background-color:burlywood;
   border: 20px solid #126888 ;

}
#spanid{
    font-size: 18px;
    margin: 50px;
   
}
